body{
    background: #C2A878;
}

  
  


.greatings{
    text-align: center;
    font-size: 90px;
    margin-top: 130px;
}

.feelings{
    text-align: center;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    width: 300px;
    height: 50px;

    font-size: 30px;
    border-radius: 25px;
    background: #E5ECE9;
}

.mainTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    margin-top: 50px;
    width: 600px;
    height: 900px;

    text-align: left; 
    direction: ltr;    
    padding: 10px;     
    resize: none;      
    box-sizing: border-box;

    font-size: 30px;
    border-radius: 25px;
    background: #E5ECE9;
}

.divSafeBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.safeBtn {
    height: 80px;
    width: 300px;

    font-size: 40px;
    border-radius: 15px;
}

.deleteBtn {
    height: 80px;
    width: 300px;

    font-size: 40px;
    border-radius: 15px;
}

.setDateBtn {
    width: 200px;
    height: 50px;

    margin-left: 30px;
    font-size: 40px;
    border-radius: 15px;
}