

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.feelings {
    text-align: center;
    font-size: 30px;
    margin: 4px 0; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px 0; 
}

.date {
    width: 250px;
    height: 75px;
    font-size: 30px;
    border-radius: 15px;
    background: #E5ECE9;
    border: 0px;
}

.setDateBtn {
    width: 150px;
    height: 80px;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 15px;
    background: #E5ECE9;
    border: 0px;
}

.mainTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px 0; 
    border: 0px;
}

.textContainer {
    width: 90%;
    height: 90%;
    text-align: left;
    direction: ltr;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 25px;
    background: #E5ECE9;
    border: 0px;
}

.divSafeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px 0; 
}

.safeBtn, .deleteBtn {
    height: 80px;
    width: 200px;
    font-size: 40px;
    border-radius: 15px;
    margin: 0 10px;
    background: #E5ECE9;
    border: 0px;
}
